<h2>
    {{ title }}
</h2>

<div>
    <label for="txtTitle">
        Enter New Title: &nbsp; </label>
    <input type="text" id="txtTitle" value="{{title}}" (keyup)="changeTitle(txtRef.value)" #txtRef>
</div>

<br><br>

<div [style.width.px]="divWidth" style="background-color: antiquewhite;">
    Name: &nbsp; <span>{{personInfo.name}}</span>
    <br>
    Id: &nbsp; <span>{{personInfo.id}}</span>
</div>
<!-- 
for(let name of names){
    document.createElement('li').innerText = name
}
    document.createElement('h2').innerHTML = new FeaturesComponent().title
-->

<ng-template #alternate>
    <span>No names in the collection</span>
</ng-template>

<ul *ngIf="names.length>0;else alternate">
    <li *ngFor="let name of names">
        {{name}}
    </li>
</ul>