<h2>
    List of Products
</h2>
<br>

<ng-template #loadingTemplate>
    <span>Loading....please wait</span>
</ng-template>

<ng-template #errorTemplate>
    <span>{{errorMessage}}</span>
</ng-template>

<ng-template #noDataTemplate>
    <span>No products found...</span>
</ng-template>


<app-filter (filterValueChanged)="updateFilterText($event)"></app-filter>

<br>

<div *ngIf="isRequestComplete;else loadingTemplate">
    <div *ngIf="errorMessage=='';else errorTemplate">
        <table *ngIf="productRecords && productRecords.length>0;else noDataTemplate" class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-info">
                <tr *ngFor="let p of (productRecords|productfilter:filterText)">
                    <td>
                        <img [src]="p.imageUrl" alt="NA" [title]="p.productName"
                            [routerLink]="['/products/view',p.productId]">
                    </td>
                    <td>
                        {{p.productName|uppercase}}
                    </td>
                    <td>
                        {{p.price|currency:'INR'}}
                    </td>
                    <td>
                        {{p.starRating}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>