<form>
    <fieldset>
        <legend>Add New Product</legend>
        <div class="form-group">
            <label for="txtId" class="form-label mt-4">Id:</label>
            <input type="text" id="txtId" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtName" class="form-label mt-4">Name:</label>
            <input type="text" id="txtName" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtDesc" class="form-label mt-4">Description:</label>
            <textarea id="txtDesc" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="txtCode" class="form-label mt-4">Code:</label>
            <input type="text" id="txtCode" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtRating" class="form-label mt-4">Rating:</label>
            <input type="text" id="txtRating" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtPrice" class="form-label mt-4">Price:</label>
            <input type="text" id="txtPrice" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtDate" class="form-label mt-4">Released On:</label>
            <input type="date" id="txtDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtImage" class="form-label mt-4">Upload Image:</label>
            <input type="file" id="txtImage" class="form-control">
        </div>
        <div>
            <input type="button" value="Save" class="btn btn-primary">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Cancel" class="btn btn-alert">
        </div>
    </fieldset>
</form>