<form [formGroup]="addForm" (submit)="submitData(fileImage)">
    <fieldset>
        <legend>Add New Product</legend>
        <div class="form-group">
            <label for="txtId" class="form-label mt-4">Id:</label>
            <!-- <input type="text" id="txtId" class="form-control" [formControl]="idCtrl"> -->
            <input type="number" id="txtId" class="form-control" formControlName="productId">
        </div>
        <div class="form-group">
            <label for="txtName" class="form-label mt-4">Name:</label>
            <input type="text" id="txtName" class="form-control" formControlName="productName">
        </div>
        <div class="form-group">
            <label for="txtDesc" class="form-label mt-4">Description:</label>
            <textarea id="txtDesc" cols="30" rows="10" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="txtCode" class="form-label mt-4">Code:</label>
            <input type="text" id="txtCode" class="form-control" formControlName="productCode">
        </div>
        <div class="form-group">
            <label for="txtRating" class="form-label mt-4">Rating:</label>
            <input type="number" id="txtRating" class="form-control" formControlName="starRating">
        </div>
        <div class="form-group">
            <label for="txtPrice" class="form-label mt-4">Price:</label>
            <input type="number" id="txtPrice" class="form-control" formControlName="price">
        </div>
        <div class="form-group">
            <label for="txtDate" class="form-label mt-4">Released On:</label>
            <input type="date" id="txtDate" class="form-control" formControlName="releaseDate">
        </div>
        <div class="form-group">
            <label for="txtImage" class="form-label mt-4">Upload Image:</label>
            <input type="file" id="txtImage" class="form-control" #fileImage>
        </div>
        <br>
        <div class="center-style">
            <input type="submit" value="Save" class="btn btn-primary">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Cancel" class="btn btn-alert">
        </div>
    </fieldset>
</form>